body {
    background: url('../assets/images/signin_background.jpg');
    background-position: center;
}

.form {
    display: flex;
    font-size: 1.2em;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.inner-form {
    display: grid;
    background-color: #15172b;
    border-radius: 1em;
    width: max-content;
    padding: 2em;
    padding-right: 5em;
}

.form-heading {
    width: 100%;
    padding-left: .8em;
    font-size: 3em;
    color: white;
    font-family: beautiful-people;
    text-align: center;
}

.form-heading > .form-sub-heading {
    font-size: 1.5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-spacer {
    padding: 1em 0;
}

.form-field {
    padding-bottom: 0;
}

.form-field-label {
    width: max-content;
    color: black;
    position: absolute;
    font-size: 1.2em;
    margin: 1em;
    padding: 0.5em;
    border-radius: 2em;
    transform: translate(1em, -3.7em);
    z-index: 1;
    transition: transform 0.2s, color 0.2s;
}

.form-field-input {
    width: 100%;
    padding: 0.5em;
    margin: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    position: relative;
    box-sizing: border-box;
    border-radius: 0.5em;
    outline: 0;
    box-shadow: red .1em .1em .4em;
    color: #000;
}

.form-field-input:focus+.form-field-label,
.form-field-input:not(:placeholder-shown)+.form-field-label {
    transform: translate(.9em, -6.5rem);
    color: #f52d58;
    background-color: #15172b;
    font-size: 1em;
    padding: 0.1em 0.5em;
}

.form-field-input:not(:focus)+.form-field-label,
.form-field-input:not(:placeholder-shown)+.form-field-label {
    color: grey;
}

.form-field-input:focus+.form-field-label {
    color: #f52d58;
}

.form-field::after {
    content: '';
    font-size: 1em;
    color: red;
    position: relative;
    top: -1em;
    left: 2.8em;
}

.form-checkbox-label {
    color: white;
    font-size: 1.1em;
}

.form-field-checkbox {
    font-size: 1.2em;
    margin: .5em .5em .5em 1.5em;
    height: .7em;
    width: .7em;
}

.form-submit-button {
    margin: 1em;
    padding: 0.5em;
    color: white;
    background-color: #0088dd;
    border-radius: 0.5em;
    outline: 0;
    font-size: 1.2em;
    width: 100%;
}

.form-submit-button:active {
    background-color: #0046dd;
}

.form-links {
    text-align: center;
    color: white;
    padding-left: 2em;
}

.form-show-pass {
    position: absolute;
    outline: 0;
    padding: 1em;
    transform: translate(22.5em, -3.7em);
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

a:active {
    color: pink;
}
