.cover {
    background-image: url("../assets/images/woman-trying-choose.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.cover-title-background {
    background-color: rgb(187, 255, 0, 0.1);
    overflow: hidden;
}

.cover-title-background .cover-title {
    /* padding-top: .8em;
    padding-bottom: 2.2em;
    height: 100vh; */
    position: absolute;
    bottom: 10vh;
    left: 15vw;
    font-family: komikabg;
    font-size: 8em;
    font-weight: 500;
    -webkit-text-stroke: .03em #212121;
    text-align: center;
    background: -webkit-linear-gradient(rgb(39, 245, 166), rgb(10, 216, 113), rgb(0, 255, 191));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: skew-anim 2s infinite;
}

.quote-background {
    overflow: hidden;
    background: url("../assets/images/Exercises.png");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 40vw;
    padding: 5em 0;
    height: 95vh;
}

.quote {
    font-family: beautiful-people;
    font-size: 5em;
    font-weight: bold;
    margin-left: 13em;
    color: white;
    transform: skewX(10deg) scaleX(1.3);
    text-shadow: rgb(241, 121, 73) .1em .1em .1em;
}